Source: python-aafigure
Section: python
Priority: optional
Maintainer: Debian OpenStack <team+openstack@tracker.debian.org>
Uploaders:
 Thomas Goirand <zigo@debian.org>,
Build-Depends:
 debhelper-compat (= 11),
 dh-python,
 openstack-pkg-tools,
 python3-all,
 python3-setuptools,
 python3-sphinx,
Build-Depends-Indep:
 python3-pil,
 python3-reportlab,
Standards-Version: 4.5.0
Vcs-Browser: https://salsa.debian.org/openstack-team/third-party/python-aafigure
Vcs-Git: https://salsa.debian.org/openstack-team/third-party/python-aafigure.git
Homepage: https://github.com/aafigure/aafigure

Package: python3-aafigure
Architecture: all
Depends:
 python3-pil,
 python3-reportlab,
 ${misc:Depends},
 ${python3:Depends},
Description: aafigure - ASCII art to image converter
 aafigure is a command line tool that converts drawings in text files to
 images. Several output formats are supported (SVG, PDF, PNG, JPG and more).
 .
 A Python package is also installed, so that the conversion can also be
 used by Python programs.
 .
 Note on dependency on other packages: PDF output requires python-reportlab and
 bitmap formats require python-imaging.
